*{
	margin: 0;padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
:root{
	--colorMain:#1d263a;
};
img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section{
	padding: 0;
	margin: 0;
}
a{
	color: var(--colorMain);
	text-decoration: none;
}
ul{
	list-style: none;
}
li{
	cursor: pointer;
}
html{
	scroll-behavior: smooth;
}
body{
	width: 100%;
	height: 100%;
	/*margin:0;*/
	/*padding: 0;*/
	overflow: auto;
	overflow-x: hidden;
	font-family: sans-serif;
	
	
}
.container{
	width: 1200px;
	margin: 0 auto;	
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	/*background-color: crimson;*/
	position: relative;
}

nav .nav__menu {
	display: flex;
	align-items: center;
	height: 100%;
	text-align:center;
}
nav .nav__menu  .nav__menu--item{
	font-weight: bolder;
	color:var(--colorMain);
}
/*nav .nav__menu ~ li:not(.btn){
	height: 100%;
	display: flex;
	align-items: center;
}*/
nav .nav__menu  .nav__menu--item{
	padding:0 20px;	
}
nav .nav__menu .btn{
	min-width: 150px;
	 padding: 15px 30px;
	background-color: #ff7139;
	color: white;
	border-radius: 20px;	
	text-align: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
nav .nav__menu  .nav__menu--item:not(.btn){
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.name{
	height: 100%;
}
.icon-menu{
	font-size: 30px;
	color: black;
	display: none;
}
/*menu__child-one start*/
nav .nav__menu .menu__child-one{
	display: flex;
	position: absolute;
	align-items: center;
	/*background-color: red;*/
	left: 0;right: 0;
	top: 100%;
	border-top: solid 2px #2468c7;
	padding: 20px 30px;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s linear,visibility 0s, transform .5s linear;
	overflow: hidden;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transform: translateY(150px);
	background-color: white;
	z-index: 10;
}
.landing-page:hover > .menu__child-one{
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
nav .nav__menu .menu__child-one ul li{
	font-size: 15px;
	font-weight:600;
	margin: 30px 0;
	opacity: 0;
	visibility: hidden;
	transform: translateY(100px);
	text-align: left;
	transition: opacity .8s linear,visibility .2s linear, transform 1s linear;
}
.landing-page:hover > .menu__child-one ul li{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

nav .nav__menu .menu__child-one img{
	width: 30%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
}
nav .nav__menu .menu__child-one ul{
	margin:0 30px;
	justify-content: space-between;
}

nav .nav__menu .menu__child-one ul li a{
	color: var(--colorMain);
}


.menu-name{
	/*width: 100%;
	height: 100%;*/
	/*position: relative;*/
}
.menu-name::before{
position: absolute;
content:"\1F53D";
color: white;
font-weight: bolder;
right: -20px;
top: -5px;
font-size: 20px;
}
/*menu__child-one end*/

/*menu__child-two start*/

.menu__child-two{
	/*padding:  20px;*/
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	position: absolute;
	top: 100%;
	transition: all  0.5s, transform 0.5s ease-out;
	visibility:	 hidden;
	opacity: 0;
	border-top: solid 2px #2468c7;
	/*overflow-:hidden;*/
	transform: translateY(150px);
	background-color: white;
	z-index: 1;
}

.pages:hover .menu__child-two{
visibility: visible;
opacity: 1;
transform: translateY(0);
}

.menu__child-two  >li{
	margin: 30px 20px;
	position: relative;
}
.menu__child-two a{
	color:var(--colorMain);
	font-weight: bold;

}

.menu__child-two > li:not(:first-child) > a::after{
	position: absolute;
content:"\25B6";
left:  100%;
top: -5px;
font-size: 20px;
transition: 0.3s;
}
.menu__child-two li:hover a::after{
transform: rotate(100deg);
}
.menu__child-two  .Menu__child{
	position: absolute;
	left: 120%;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	border-top: solid 2px #2468c7;
	width: 100%;
}
.menu__child-two  .Menu__child::after{
	position: absolute;
	content: "";
	height: 30px;
	width: 30px;
	/*background-color: red;*/
	top: 0;
	right: 100%;

}
.menu__child-two  .Menu__child li{
	padding: 20px;
	/*margin-bottom: 20px;*/
	border-radius: 4px;
	transform: translateY(150px);
	transition: 0.3s;	
}
.menu__child-two  li:hover ul {
	visibility: visible;
	opacity: 1;

}
.menu__child-two  li:hover ul li{
	transform: translateY(0);
}
/*menu__child-two end*/

/*catelogy for moblie start*/

.nav__menu-moblie{
	position: absolute;
	/*background-color: red;*/
	top: 0;
	left: 0;
	width: 42%;
	height: 100%;
	background-color: white;
	transform: translateX(-100%);
	transition: .5s ;
	z-index: 9999;
	overflow-x: hidden;
	overflow-y: hidden;

}

.slide{
	transform: translateX(0);
}
a{
	color: var(--colorMain);
}
.test{
	position: absolute;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	transition: 0.5s linear;
	display: none;
	}
.show{
	opacity: 1;
	visibility: visible;
	background-color: rgba(0,0,0,0.3);

}
.nav__menu-moblie .nav__menu__item{
	padding: 15px 10px;
	height: 50px;
	font-size: 17px;
	font-weight: bolder;
	color: var(--colorMain);
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right:  0;
}


/*global icon*/
.nav__menu__item--head{
display: flex;
justify-content: space-between;
	border-bottom: 1px solid rgba(0,0,0,0.1);	

}
.nav__menu__item--body{
	position: relative;	
	height: 100%;
	z-index: -1;
}
.icon{
	padding: 10px;
width: 25px;
height: 25px;	
font-weight: bold;
}
.name{
	line-height: 45px;
	opacity: 0;
}

.icon-left{
border-right: 1px solid rgba(0,0,0,0.1);
opacity: 0;
visibility: hidden;
transition: opacity .3s linear,visibility 0s linear;
}
.icon-close{
	border-left: 1px solid rgba(0,0,0,0.1);
}
.icon-right{
display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;

}



/*OUR STORY START*/
.our__story{
width: 100%;
height: 100%;
}
.introduction{
width: 60%;
margin: 0 auto;
}
.introduction__title{
	font-size: 60px;
	color:var(--colorMain);
	text-align: center;
}
.introduction__p{
	font-size: 21px;
	line-height: 32px;
	opacity: 0.7;
	text-align: center;
}
/*OUR STORY END*/
/*INTRODUCTION IMAGE START*/
.introduction__img{
width: 100%;
height: auto;	
display: inline-block;

}
.introduction__img img{
	object-fit: cover;
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 40px;
	/*border-radius: 40px 40px 0 0;*/
}
.introduction__img__p{
	width: 80%;
	height: 50%;
	display:block;
	color: white;
	font-size: 22px;
	line-height: 32px;
	background-color: red;
	padding: 30px;
	border-radius: 0  40px 0 40px;
	border-radius: 0  0 40px 40px;
	background-color: #ff794d;
	position: relative;
	/*top: -5px;*/
	bottom: 128px;
}



/*INTRODUCTION IMAGE END



/*Banner start*/
.banner{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #1787fc;
	border-radius: 10px;
	align-items: center;
	justify-content: space-around;
	padding: 20px 10px;
	color: white;
}
.p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 21px;
}
.p span{
	padding-left:20px;
}
.banner__item{
	padding: 20px;
	display: flex;
}
.banner__item .number{
	font-size: 60px;
}
/*Banner end*/





/*catelogy for moblie end*/
/*item nav mobile start*/
.list__menu-moblie{
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 100%;
	top: 0;
	background-color: white;
	transition: 0.5s;
	z-index: 1;
}

.list__menu-moblie .list__menu-item{
	padding: 12px 30px;
	font-size: 16px;
	color:var(--colorMain);
	font-weight: 700;
	border-bottom: 1px solid rgba(0,0,0,0.1);	


}
.list__menu-moblie .list__menu-item a{
	width: 100%;
}
.nav__menu__item:hover .list__menu-moblie .list__menu-item{
	display: block;
	border-bottom: 1px solid rgba(0,0,0,0.1);	
}
.showlistMB{
	left: 0;
}

/*item nav mobile end*/



/*Responsive start*/

@media (max-width: 1024px){
.container{
	width: 90%;
}

}

@media (min-width: 450px)and (max-width: 768px){
	.container{
		max-width: 90%;
	}
	nav .nav__menu .nav__menu--item:not(.btn){
		display: none;
	}
	.icon-menu{
		display: block;
		margin-left: 20px;
	}
	.test{
		display: block;
	}
	/*itroduction*/
	.introduction__img{
width: 100%;
height: auto;	
display: inline-block;

}
.introduction__img img{
	
	border-radius: 40px 40px 0 0;
}
.introduction__img__p{
	width: 100%;
	bottom: 5px;
}
/*end*/
	}

@media (max-width: 450px){
	.container{
		max-width: 95%;
	}
	nav .nav__menu .nav__menu--item:not(.menu-icon){
		display: none;
	}
	.icon-menu{
		display: block;
	}
	.test{
		display: block;
	}
	.introduction{
		width: 100%;
	}
	.introduction__img img{
	
	border-radius: 40px 40px 0 0;
}
.introduction__img__p{
	width: 100%;
	bottom: 5px;
}
	
/*end*/

}
@media (max-width: 320px){
	.nav__menu-moblie{
		width: 100%;
	}
}



